main h1{
    text-align: center;
}

main #Title{
    display: flex;
    flex-direction: row;
}

main #Title #AboutText{
    width: 50%;
    border: 1px;
    border-color: black;
    border-style: dashed;
    height: 25%;
    margin-left: 4%;
    margin-top: 2%;
}


main #Title img{
  width: 500px;
  padding-left: 5%;


}

main #courses{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

main #courses div{
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: solid;
    border-color: black;
}