header{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 50px;
    position: fixed;
    top: 0%;    
    right: 0%;
    left: 0%;
    border: 1px;
    border-style:solid;
}

header img{
    width: 75px;
}

header nav{
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header nav a{
    float: left;
    display:block;
    text-align: center;
    padding: 14px 16px;
    
}

main{
    margin-top: 55px;
    
}

main h1{
    text-align: center;
}

main #Title{
    width: 50%;
    border: 1px;
    border-color: black;
    border-style: dashed;
}

main #Title h2{


}

main #Title p{
}

main #Title img{

}

main #courses{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

main #courses div{
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: solid;
    border-color: black;
}